---
import TokenViewer from "../components/TokenViewer.jsx";
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Token Viewer | William64.com</title>
    <meta name="description" content="Interactive token explorer for GPT-2 vocabulary." />
  </head>
  <body>
    <TokenViewer client:load />
  </body>
</html>